<%- include('header'); -%>
<center>
    <h1>ABOUT US</h1>
    <br/>
    <h3>We are a dedicated and passionate group of engineers. We are highly skilled in all aspects of web and application development
        including Cloud solutions and developer operations.</h3>
    <hr width="95%">
    <h4>Kindly contact us for your project needs and we will ensure all your requirements are fulfilled.</h4>
</center>