<%- include('header'); -%>
	<style>
		body{
			background-color: white;
			color:black;
		}
	</style>
<div style="text-align: center;">
		<img src="../public/ck.jpg" width="400" height="400"><br>
	<h3>Chayan Khatry</h3><h3>Full Stack Developer</h3><h4>chayan.khatry@rutgers.edu</h4>
		<br/>
		<img src="../public/vm.jpg" width="400" height="400"><br>
		<h3>Vivek Modi</h3><h3>Cloud Engineer</h3><h4>vivek.modi@rutgers.edu</h4>
</div>