<%- include('header'); -%>
	<style>
		body{
			background-color: white;
			color:black;
		}
	</style>
<div style="text-align: center;">
	<img src="../public/ck.jpg" width="400" height="400"><br>
	<p>Chayan Khatry</p><p>Full Stack Developer</p>
</div>